.hidden {
  visibility: hidden;
  opacity: 0;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.container--app {
  max-width: 100rem;
  padding: 0 6.4rem;
  margin: 0 auto;
}

.movements_type {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  display: inline-block;
}

.movements_type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements_type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movments_options_btn {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 2rem;
  border: none;
  border-radius: 11px;
  margin-right: 2rem;
  display: inline-block;
  cursor: pointer;
}

.movments_options_btn-transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.movments_options_btn-request {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movments_options_btn-close {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.options_modal--close-account {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}
