@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);  */
}

/**********************LOGIN PAGE***************************/
.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 35vw;
  background-color: white;
  box-shadow: 0 4.8rem 9.6rem rgb(0 0 0 / 25%);
  /* transition: all 1s; */
}

.login_mail_section,
.login_password_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login_container {
  padding: 4.8rem 9.6rem;
}

.login_heading {
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
}

.desc {
  font-size: 1.6rem;
}

.login_input {
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
}

.login_btn {
  /* background-color: #444; */
  transition: all 1s;
  border: none;
  width: 100%;
  color: white;
  padding: 1rem 2rem;
  border-radius: 9px;
  margin-bottom: 1rem;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}

.login_btn:hover {
  background-position: right center;
}

p.options {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login_auths {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.login_auths ion-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

/**********************BANKING PAGE***************************/
.banking_logo {
  width: 6.4rem;
  height: 6.4rem;
}
/* Horizontaly align the nav */
.banking_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 1rem;
}
/* Fix the logout button  */
.logout_btn {
  transition: all 1s;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 9px;
  margin-bottom: 1rem;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
  cursor: pointer;
}
/* Fix the welcome message */
.welcome {
  font-size: 2rem;
  font-weight: 700;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.balance_label {
  font-size: 2.5rem;
}
.balance_value {
  font-size: 5rem;
}

.movements {
  overflow: scroll;
  max-height: 50vh;
  box-shadow: 0 4.8rem 9.6rem rgb(0 0 0 / 8%);
  border-radius: 20px;
}

.movements_row {
  padding: 2.25rem 4rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements_date {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #666;
}

.movements_value {
  font-size: 2rem;
  margin-left: auto;
  font-weight: 600;
}

.movments_options {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1.5rem;
}

.summary_label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary_value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
  font-weight: 600;
}

.summary_value--in {
  color: #39b385;
}

.summary_value--out {
  color: #e52a5a;
}

.summary_value--interest {
  color: #39b385;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort_btn {
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.app_container {
  transition: all 1s;
}

/*******Transfer modal*******/
.options_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vh;
  height: 55vh;
  transition: all 0.5s;
}

.options_modal--transfer {
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
}

.options_modal--request {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.close_modal_btn {
  position: absolute;
  top: -10%;
  right: -15%;
  background-color: transparent;
  border: none;
  font-size: 5rem;
  cursor: pointer;
}

.options_modal_inner {
  position: relative;
}

.options_modal {
  padding: 2.5rem 5rem;
}

.options_modal_heading {
  font-size: 3rem;
}

.form__label {
  font-size: 1.8rem;
}

.form_input {
  border: none;
  font-size: 1.6rem;
  border-radius: 5px;
  font-family: inherit;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.4);
}

.form_btn {
  border: none;
  padding: 1.2rem;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, 80);
  font-size: 1.6rem;
  cursor: pointer;
}
