@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);  */
}

/**********************LOGIN PAGE***************************/
.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 95vh;
  width: 35vw;
  background-color: white;
  box-shadow: 0 4.8rem 9.6rem rgb(0 0 0 / 25%);
  transition: all 0.75s;
}

.login_mail_section,
.login_password_section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login_container {
  padding: 4.8rem 9.6rem;
}

.login_heading {
  font-size: 3.6rem;
  margin-bottom: 3.6rem;
}

.desc {
  font-size: 1.6rem;
}

.login_input {
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
}

.login_btn {
  /* background-color: #444; */
  transition: all 1s;
  border: none;
  width: 100%;
  color: white;
  padding: 1rem 2rem;
  border-radius: 9px;
  margin-bottom: 1rem;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #a1c4fd 0%,
    #c2e9fb 51%,
    #a1c4fd 100%
  );
}

.login_btn:hover {
  background-position: right center;
}

p.options {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login_auths {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.login_auths ion-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
